/**
 * Mutinda Boniface <boniface.info@gmail.com>
 * http://mutindaz.github.io
 * 2015 - Jan
 */

*{ 
	padding:0; 
	margin: 0; 
}
p{ 
	line-height: 19px;
}
a, a:hover {
	color: #163;
}
p a,.embedded-link{
	color: #337ab7;
	padding:5px;
}
ul, ol{
	margin: 0;
	padding: 0;
}

ul li, ol li{
	margin-left:30px;
	padding-left:5px;
}

.content-start ul{
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bg-green{
	background-color: #48b983;
}

.no-padding-top{ padding-top:0 !important; }

body{ 
	background: #eaf6ee url('invaders.png') repeat;
	font-family: verdana;
	color: #333;
	font-size: 12px;
}

.container{ 
	max-width: 980px; 
	margin:5px auto;
}

#ribbon img {
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
	z-index: 99999;
}

header{
	min-height: 80px;
	color: #f6f6f6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.header-github{
	width:100%;
	max-width:50px;
}
.download{
	margin-top: 23px;
}
.content-start{
	margin-top:150px;
}
.heading{
	font-weight: 300;
	font-style: italic;
	color: #888;
	font-size: 20px;
	padding: 30px 0 10px 0;
	margin-top: 0;
}
.heading-small{
	font-size:15px;
}
.heading-smaller{
	font-size:13px;
	margin-top:15px;
}

.right-menu{
	min-height: 10px;
	clear: both;
	position: fixed;
	right: 6%;
}

/** code formatting **/
pre.prettyprint{
	padding:7px;
}



@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}